
main
{

  .h
  {
    padding: 60px 0  50px 0;
  }

  h3
  {

    font-family: 'Roboto', sans-serif;
    color: #434343;
    font-size: 18px;
    font-weight: 500;

  }

  .n1
  {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;

    .p
    {
      margin-right: 30px;
    }
  }


}
