section {
  margin: 30px 0;
  width: 480px;
  height: 191.25px;
}

div {
  padding: 13px 0;
  cursor: pointer;
  transition: 0.4s ease;
}

div:hover {
  background-color: rgba(0, 0, 0, 0.1960784314);
}

h3 {
  color: var(--black-gray);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
}